@tailwind base;
  @tailwind components;
  @tailwind utilities;

 @layer base {
  :root {
    --background: 42 51% 91%;           /* #F3ECDF in HSL */
    --foreground: 345 23% 8%;           /* #190B0F in HSL */

    --white: 42 51% 91%;/* #190B0F in HSL */
    

    --primary: 345 40% 27%;             /* #622A39 */
    --primary-foreground: 42 51% 91%;   /* #F3ECDF */

    --card: 42 51% 91%;
    --card-foreground: 345 23% 8%;

    --cardlight : 42 51% 50%;
    --card-foreground: 345 23% 2%;

    --border: 345 40% 27%;
    --input: 345 40% 27%;
    --ring: 345 23% 8%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 345 23% 8%;           /* #190B0F */
    --foreground: 42 51% 91%;           /* #F3ECDF */

    --primary: 42 51% 91%;              /* #F3ECDF */
    --primary-foreground: 345 40% 27%;  /* #622A39 */

    --card: 345 23% 8%;
    --card-foreground: 42 51% 91%;

    --border: 42 51% 91%;
    --input: 42 51% 91%;
    --ring: 42 51% 91%;
  }
}


@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--primary)) transparent;
  }

  /* For WebKit (Chrome, Edge, Safari) */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary) / 0.8);
  }
}


@layer base {
  :root {
    --input-background: 40 100% 95%; /* #FFF8EC */
  }

  .dark {
    --input-background: 240 3.7% 15.9%; /* keep dark version, or customize */
  }
}

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .react-datepicker {
  border-color: #622A39;
  font-family: inherit;
}
.react-datepicker__header {
  background-color: red;
  color: #F3ECDF;
}
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #622A39 !important;
  color: #F3ECDF;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-list-item--selected {
  background-color: #622A39;
  color: #F3ECDF;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-list-item:hover {
  background-color: #622A39;
}